aniso8601
attrs
beautifulsoup4
blinker
certifi
charset-normalizer
click
contourpy
cycler
filelock
Flask
Flask-RESTful
fonttools
fsspec
gunicorn
h11
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
outcome
packaging
pandas
pillow
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
seaborn
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
sympy
threadpoolctl
torch
torchaudio
torchvision
trio
trio-websocket
triton
tzdata
urllib3
webdriver-manager
websocket-client
Werkzeug
wheel
whois
wsproto
